
<div class="p-8 text-[#283c4d]">
  <app-asignature-toolbar (termEmitter)="findByName($event)"></app-asignature-toolbar>
  
  <mat-paginator 
    [pageSizeOptions]="[10, 40, 80]" 
    showFirstLastButtons aria-label="">
  </mat-paginator>

  <div class="mat-elevation-z8 overflow-x-auto">
    <table mat-table class="table table-compact w-full" [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let subject">{{subject.id}}</td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Codigo </th>
        <td mat-cell *matCellDef="let subject">{{subject.code}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Asignatura</th>
        <td mat-cell *matCellDef="let subject">{{subject.name}}</td>
      </ng-container>

      <ng-container matColumnDef="theoreticalHours">
        <th mat-header-cell *matHeaderCellDef> Teoria </th>
        <td mat-cell *matCellDef="let subject">{{subject.theoreticalHours}}</td>
      </ng-container>

      <ng-container matColumnDef="laboratoryHours">
        <th mat-header-cell *matHeaderCellDef> Laboratorio </th>
        <td mat-cell *matCellDef="let subject">{{subject.laboratoryHours}}</td>
      </ng-container>

      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let subject">
          <span>
            <label for="new-asignature" (click)="setCurrentId(subject.id)" class="btn btn-xs glass">
              <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" class="w-5 h-5 fill-black">
                <path
                  d="M9.288,13.067c-2.317.446-3.465,3.026-3.963,4.634A1,1,0,0,0,6.281,19H10a3,3,0,0,0,2.988-3.274A3.107,3.107,0,0,0,9.288,13.067Z" />
                <path
                  d="M23,8.979a1,1,0,0,0-1,1V15H18a3,3,0,0,0-3,3v4H5a3,3,0,0,1-3-3V5A3,3,0,0,1,5,2H16.042a1,1,0,0,0,0-2H5A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H16.343a4.966,4.966,0,0,0,3.535-1.464l2.658-2.658A4.966,4.966,0,0,0,24,16.343V9.979A1,1,0,0,0,23,8.979ZM18.464,21.122a3.022,3.022,0,0,1-1.464.8V18a1,1,0,0,1,1-1h3.925a3.022,3.022,0,0,1-.8,1.464Z" />
                <path
                  d="M14.566,14.17a1,1,0,0,1-.707-1.707L21.712,4.61a.943.943,0,0,0,0-1.335A.9.9,0,0,0,21.018,3a.933.933,0,0,0-.678.314l-7.6,8.407a1,1,0,0,1-1.484-1.341l7.6-8.4A2.949,2.949,0,0,1,20.963,1a2.985,2.985,0,0,1,2.163.862,2.947,2.947,0,0,1,0,4.163l-7.853,7.853A.993.993,0,0,1,14.566,14.17Z" />
              </svg>
            </label>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="hover" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>


  <!-- <div class="overflow-x-auto">
    <table class="table table-compact w-full">
      <thead>
        <tr class="hover">
          <th></th>
          <th>Codigo</th>
          <th>Asignatura</th>
          <th>Horas Teoricas</th>
          <th>Horas Practicas</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover" *ngFor="let subject of subjectList">
          <th>{{subject.id}}</th>
          <td>{{subject.code}}</td>
          <td>{{subject.name}}</td>
          <td>{{subject.laboratoryHours}}</td>
          <td>{{subject.theoreticalHours}}</td>
          <td>
            <span>
              <label for="new-asignature" (click)="setCurrentId(subject.id)" class="btn btn-xs glass">
                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" class="w-5 h-5 fill-black">
                  <path
                    d="M9.288,13.067c-2.317.446-3.465,3.026-3.963,4.634A1,1,0,0,0,6.281,19H10a3,3,0,0,0,2.988-3.274A3.107,3.107,0,0,0,9.288,13.067Z" />
                  <path
                    d="M23,8.979a1,1,0,0,0-1,1V15H18a3,3,0,0,0-3,3v4H5a3,3,0,0,1-3-3V5A3,3,0,0,1,5,2H16.042a1,1,0,0,0,0-2H5A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H16.343a4.966,4.966,0,0,0,3.535-1.464l2.658-2.658A4.966,4.966,0,0,0,24,16.343V9.979A1,1,0,0,0,23,8.979ZM18.464,21.122a3.022,3.022,0,0,1-1.464.8V18a1,1,0,0,1,1-1h3.925a3.022,3.022,0,0,1-.8,1.464Z" />
                  <path
                    d="M14.566,14.17a1,1,0,0,1-.707-1.707L21.712,4.61a.943.943,0,0,0,0-1.335A.9.9,0,0,0,21.018,3a.933.933,0,0,0-.678.314l-7.6,8.407a1,1,0,0,1-1.484-1.341l7.6-8.4A2.949,2.949,0,0,1,20.963,1a2.985,2.985,0,0,1,2.163.862,2.947,2.947,0,0,1,0,4.163l-7.853,7.853A.993.993,0,0,1,14.566,14.17Z" />
                </svg>
              </label>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
  <app-asignature-new [currentId]="currentId"></app-asignature-new>