<div class="m-6">
    <div class="text-sm flex-wrap flex justify-between breadcrumbs">
        <ul>
          <li>
            <a routerLink="/layout/dashboard">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                class="w-4 h-4 mr-2 stroke-current  fill-red-300">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
              </svg>
              Dashboard
            </a>
          </li>
          <li>
            <a routerLink="/layout/teacher-list">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                class="w-4 h-4 mr-2 stroke-current fill-red-300">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
              </svg>
              Lista 
            </a>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              class=" fill-red-300 w-4 h-4 mr-2 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z">
              </path>
            </svg>
          </li>
        </ul>
      </div>
    <div class="columns-3">
        <select class="select select-ghost rounded-none select-xs w-full aspect-video  m-4 border-none" name="" id="">
            <option selected disabled>Nivel</option>
            <option value="">1</option>
            <option value="">2</option>
        </select>
        <select class="select select-ghost rounded-none select-xs w-full aspect-video  m-4 border-none" name="" id="">
            <option selected disabled>Curso</option>
            <option value="">1</option>
            <option value="">2</option>
        </select>
        <select class="select select-ghost rounded-none select-xs w-full aspect-video  m-4 border-none" name="" id="">
            <option selected disabled>Carrera</option>
            <option value="">1</option>
            <option value="">2</option>
        </select>
        <input class="w-full aspect-video  input input-ghost rounded-none input-xs m-4 border-none" type="number"
            placeholder="horas laboratorio">
        <input class="w-full aspect-video  input input-ghost rounded-none input-xs m-4 border-none" type="number"
            placeholder="horas Teoricas">
    </div>


    <div class="overflow-x-auto w-full">
        <table class="table w-full">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Curso</th>
                    <th>Carrera</th>
                    <th>Nivel</th>
                    <th>H.Laboratorio</th>
                    <th>H.Clases</th>
                    <th>a</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>DS-V5A</td>
                    <td>Matematicas</td>
                    <td>Desarrollo Software</td>
                    <td>5</td>
                    <td>4</td>
                    <td>5</td>
                    <label class="btn btn-square btn-ghost btn-md rounded-none">A</label>
                </tr>
                <tr>
                    <td>DS-V5A</td>
                    <td>Matematicas</td>
                    <td>Desarrollo Software</td>
                    <td>5</td>
                    <td>4</td>
                    <td>5</td>
                    <label class="btn btn-square btn-ghost btn-md rounded-none">A</label>
                </tr>
                <tr>
                    <td>DS-V5A</td>
                    <td>Matematicas</td>
                    <td>Desarrollo Software</td>
                    <td>5</td>
                    <td>4</td>
                    <td>5</td>
                    <label class="btn btn-square btn-ghost btn-md rounded-none">A</label>
                </tr>
                <tr>
                    <td>DS-V5A</td>
                    <td>Matematicas</td>
                    <td>Desarrollo Software</td>
                    <td>5</td>
                    <td>4</td>
                    <td>5</td>
                    <label class="btn btn-square btn-ghost btn-md rounded-none">A</label>
                </tr>
                <tr>
                    <td>DS-V5A</td>
                    <td>Matematicas</td>
                    <td>Desarrollo Software</td>
                    <td>5</td>
                    <td>4</td>
                    <td>5</td>
                    <label class="btn btn-square btn-ghost btn-md rounded-none">A</label>
                </tr>
            </tbody>
        </table>
    </div>
</div>