<div class="custom-wrapper-example" matAutocompleteOrigin #origin="matAutocompleteOrigin">
    <input
    class="input focus:outline-none input-sm focus:border-sky-700 py-2 bg-indigo-100 input-bordered btn-sm"
      matInput
      placeholder="seleccionar asignatura"
      [formControl]="myControl"
      [matAutocomplete]="auto"
      [matAutocompleteConnectedTo]="origin"
   
      >
  </div>

  
  <mat-autocomplete (optionSelected)="onSelect($event.option.value)" #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions" [value]="option.name + '('+option.id +')'">
   
      {{option.name}}
  
    </mat-option>
  </mat-autocomplete>